# Base de datos
DATABASE_URL=ruta_de_tu_BD


# JWT
SECRET_KEY=cambia_esto_por_una_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# OpenRouter
OPENROUTER_API_KEY=sk-or-...
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
LLM_MODEL=mistralai/mistral-7b-instruct:free

POSTGRES_USER=recetas_user
POSTGRES_PASSWORD=recetas_pass
POSTGRES_DB=recetas_db
